cmudict==1.0.2
Flask==2.2.2
Flask-Cors==3.0.10
imageio==2.20.0
imageio-ffmpeg==0.4.7
inflect==5.3.0
Jinja2==3.1.2
librosa==0.9.0
moviepy==1.0.3
noisereduce==2.0.1
numpy==1.22.4
# PyAudio==0.2.12
pydub==0.25.1
scikit-learn==1.1.1
scipy==1.8.1
SoundFile==0.10.3.post1
sox==1.4.1
thop==0.1.1.post2207130030
# torch==1.12.0+cu116
# torchaudio==0.12.0+cu116
# torchvision==0.13.0+cu116
tqdm==4.53.0
fpdf==1.7.2
google-cloud-storage==2.7.0
gunicorn==20.1.0
